<form method="POST" action="<%= url %>?_method=DELETE">
    <input style="display: none;" type="text" id="deleteInputTheme" name="theme" value="">
    <button class="btn btn-danger" type="submit" 
    onclick="return confirm('Потвърждавате ли изтриването?')">Изтрий</button>
</form>