<br><br>
<span style="font-weight: bold">Промяна на продукт</span>
<br><br>
<form action="/admin/<%= product.id %>?_method=PUT" method="POST">
    <%- include('_form-fields') %>
    <br><br>
    <a href="/admin/<%= product.id %>">Върни се</a>
    <button type="submit">Потвърди</button>
</form>