<h2 class="page-header">Нов продукт</h2>
<form action="/admin" method="POST">
    <%- include('_form-fields') %>
    <div class="btn-row">
        <a class="btn btn-primary" href="/admin">Върни се</a>
        <button class="btn btn-primary" type="submit">Добави</button>
    </div>
</form>