<br><br>
<span style="font-weight: bold">Нов продукт</span>
<br><br>
<form action="/admin" method="POST" enctype="multipart/form-data">
    <%- include('_form-fields') %>
    <br><br>
    <a href="/admin">Върни се</a>
    <button type="submit">Добави</button>
</form>