<h2 class="page-header page-header-centered" style="margin-bottom: 1rem;">Нов продукт</h2>
<form action="/admin" method="POST">
    <%- include('_inputForm') %>
    <div class="form-row form-row-end btn-row" style="margin-top: 1rem;">
        <a class="btn btn-danger" href="/admin">Откажи</a>
        <button class="btn btn-primary" type="submit">Създай</button>
    </div>
</form>