<h2 class="page-header">Информация за продукта</h2>
<%- include('../partials/showProduct.ejs') %>
<div class="btn-row">
    <a class="btn btn-primary" href="/admin">Върни се</a>
    <a class="btn btn-primary" href="/admin/<%= product.id %>/edit">Редактирай</a>
    <%- include('_deleteForm', { url: `/admin/${product.id}` }) %>
</div>