<% if (locals.errorMessage != null) { %>
    <div style="text-align: center;">
        <div class="error-message mb-3">
            <%= errorMessage %>
        </div>
    </div>
<% } else if (locals.successMessage != null) { %>
    <div style="text-align: center;">
        <div class="error-message-success mb-3">
            <%= successMessage %>
        </div>
    </div>
<% } %>