<div class="container-fluid">
    <footer class="pt-3 pb-2 mt-5" style="bottom: 0">
        <div class="border-bottom pb-5 mb-2"></div>
        <p class="text-center text-muted mb-0">&copy; 2022 Елит-Груп ООД. Всички права запазени.</p>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link px-2 text-muted"
                href="https://docs.google.com/document/d/1HphAzJNkQQfPt0sDd8EjBEe3aEwekCJ2uxA83XHn9y0/edit?usp=sharing"
                target="_blank" >
                    Политика за поверителност
                </a>
            </li>
        </ul>
    </footer>
</div>