<footer>
    <p>&copy; 2022 Елит-Груп ООД. Всички права запазени.<br>
        <a href="https://docs.google.com/document/d/1HphAzJNkQQfPt0sDd8EjBEe3aEwekCJ2uxA83XHn9y0/edit?usp=sharing"
        target="_blank">
            Политика за поверителност
        </a>
    </p>
</footer>