<header>
    <nav class="header-nav">
        <a class="header-title" href="/"><h5>Елит Груп</h5></a>
        <ul>
            <li><a href="/">Начало</a></li>
            <li><a href="/products">Продукти</a></li>
        </ul>
    </nav>
</header>