<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Онлайн-магазинът на Елит-Груп. Ние продаваме пакетирани стоки.">
    <meta name="keywords" content="Каталог, Пакетирани храни, Снаксове, Напитки, Сладки">
    <meta name="author" content="Никола Славчев">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css" />
    <script defer src="/javascripts/menuActions.js"></script>
    <title>Web-store</title>
</head>
<body>
  <div class="container">
    <%- include('../partials/header.ejs') %>
    <div class="inner-container">
      <%- include('../partials/errorMessage.ejs') %>
      <%- body %>
    </div>
  </div>
</body>
</html>