<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Онлайн-магазинът на Елит-Груп. Ние продаваме пакетирани стоки.">
    <meta name="keywords" content="Каталог, Пакетирани храни, Снаксове, Напитки, Сладки">
    <meta name="author" content="Никола Славчев">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link id="main-css" rel="stylesheet" href="/stylesheets/shrinked.css" /> -->
    <link rel="stylesheet" href="/stylesheets/shared/variables.css" />
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/shared/header.css" />
    <link rel="stylesheet" href="/stylesheets/shared/footer.css" />
    <link rel="stylesheet" href="/stylesheets/shared/product.css" />
    <link rel="stylesheet" href="/stylesheets/shared/form.css" />
    <link rel="stylesheet" href="/stylesheets/shared/buttons.css" />
    <link rel="stylesheet" href="/stylesheets/shared/table.css" />
    <link rel="stylesheet" href="/stylesheets/shared/modal.css" />
    <script src="/javascripts/nonDActions.js"></script>
    <script defer src="/javascripts/actions.js"></script>
    <title>Пакетирани стоки - Елит-Груп</title>
</head>
<body>
  <div class="container">
    <%- include('../partials/header.ejs') %>
    <div class="inner-container">
      <%- include('../partials/errorMessage.ejs') %>
      <%- body %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>