<h2 class="page-header">Последно добавени</h2>
<div>
    <% products.forEach(product => { %>
        <div><%= product.title %></div>
        <a href="/products/<%= product.id %>">
            <img height="150" width="150" src="<%= product.productImagePath %>">
        </a>
    <% }) %>
</div>