<h2 class="page-header">Най-нови продукти</h2>
<br>
<div>
    <div class="product-grid">
        <% products.forEach(product => { %>
            <a href="/products/<%= product.id %>">
                <img class="product-image" src="<%= product.productImagePath %>">
            </a>
        <% }) %>
    </div>
</div>