<h2 class="page-header">Най-нови продукти</h2>
<div class="product-grid">
    <% products.forEach(product => { %>
        <a href="/products/<%= product.id %>">
            <img loading='lazy' class="product-image" src="<%= product.productImagePath %>" alt="Изображение">
        </a>
    <% }) %>
</div>