body {
    background-color: #282a35;
    color: white;
}

.navbar {
    background-color: rgb(194, 194, 194) !important;
}

.dropdown-menu-search {
    background-color: #212121 !important;
    color: white !important;
}

.list-group > li {
    background-color: #181818;
    color: rgb(226, 226, 226) !important;
}
.list-group > li > a {
    color: rgb(226, 226, 226) !important;
}

.offcanvas {
    background-color: #212121;
    color: white;
}
.offcanvas > .offcanvas-body > .list-group > a > li {
    background-color: #181818;
    color: white;
}

.form-control {
    background-color: #e7e7e7;
}

.modal-content {
    background-color: rgb(51, 51, 51);
}

.dropdown-menu {
    background-color: rgb(51, 51, 51);
}
.dropdown-item {
    background-color: rgb(51, 51, 51);
    color: white;
}

.box-item {
    box-shadow:
      0 5px 10px rgba(255, 255, 255, 0.1),
      0 20px 20px rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}