:root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--basic-text-size-1200px);
    color: black;
}

br {
    visibility: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
    -webkit-text-size-adjust: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 1rem;
    position: relative;
    min-height: 110vh;
}

.inner-container {
    margin: 0 2rem;
    padding-bottom: 9rem;
}

.page-header {
    font-size: var(--page-header-text-size-1200px);
    font-weight: 600;
}

.page-header-centered {
    text-align: center;
}

.error-message {
    display: inline-block;
    color: black;
    background-color: var(--color-btn-danger-background);
    font-size: var(--basic-text-size-1200px);
}

/* DYNAMICS */

@media only screen and (max-width: 992px) {
    :root {
        font-size: var(--basic-text-size-992px);
    }
    .page-header {
        font-size: var(--page-header-text-size-992px);
    }
    .error-message {
        font-size: var(--basic-text-size-992px);
    }
}
@media only screen and (max-width: 768px) {
    :root {
        font-size: var(--basic-text-size-768px);
    }
    .page-header {
        font-size: var(--page-header-text-size-768px);
    }
    .error-message {
        font-size: var(--basic-text-size-768px);
    }
}
@media only screen and (max-width: 576px) {
    :root {
        font-size: var(--basic-text-size-576px);
    }
    .page-header {
        font-size: var(--page-header-text-size-576px);
    }
    .error-message {
        font-size: var(--basic-text-size-576px);
    }
}
@media only screen and (max-width: 300px) {
    .inner-container {
        margin: auto;
    }
}