.btn {
    border: 1px solid black;
    border-radius: var(--basic-border-radius);
    padding: .2rem .4rem;
    font-size: var(--basic-text-size-1200px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: black;
}

.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
    margin-left: .5rem;
}

.btn-row > *:first-child {
    margin-left: 0;
}

.btn-primary {
    background-color: var(--color-btn-primary-background);
}

.btn-primary:hover {
    background-color: var(--color-btn-primary-background-dark);
}

.btn-danger {
    background-color: var(--color-btn-danger-background);
}

.btn-danger:hover {
    background-color: var(--color-btn-danger-background-dark);
}

/* MEDIA QUERIES */

/* Buttons Dynamics */
@media only screen and (max-width: 992px) {
    .btn {
        font-size: var(--basic-text-size-992px);
    }
}
@media only screen and (max-width: 768px) {
    .btn {
        font-size: var(--basic-text-size-768px);
    }
}
@media only screen and (max-width: 576px) {
    .btn {
        font-size: var(--basic-text-size-576px);
    }
}