footer {
    text-align: center;
    font-size: var(--footer-text-size-1200px);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(172, 172, 172);
}

footer a {
    text-decoration: none;
    color: black;
    padding: .3rem;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* DYNAMICS */

@media only screen and (max-width: 992px) {
    footer {
        font-size: var(--footer-text-size-992px);
    }
}
@media only screen and (max-width: 768px) {
    footer {
        font-size: var(--footer-text-size-768px);
    }
}
@media only screen and (max-width: 576px) {
    footer {
        font-size: var(--footer-text-size-576px);
    }
}