:root {
    --nav-title-font-size: 2rem;
    --nav-title-font-weight: bold;

    --nav-link-font-size: 1.1rem;
    --nav-link-font-weight: 300;
}

.header-title {
    color: var(--color-text-header);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
    flex: 1;
    text-align: right;
}

.header-nav ul {
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
    display: inline-block;
}

.header-nav li a {
    text-decoration: none;
    color: var(--color-text-header);
    font-size: var(--nav-link-font-size);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
}

.header-nav li a:hover, .header-title:hover {
    color: hsl(var(--color-base-hue), 50%, 30%);
}

.header-menu-image {
    width: 2.1rem;
    height: 1.8rem;
    display: none;
    justify-content: flex-end;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .header-nav ul {
        width: 50%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.801);
        border-radius: var(--basic-border-radius);
        position: absolute;
        top: 5.5rem;
        right: 0;
        z-index: 2;
    }
    .header-nav li {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .header-nav li a {
        color: white;
    }
    .header-menu-image {  
        display: block;
    }
    #menu-list {
        overflow: hidden;
        transition: 0.8s;
    }
}