.header-title {
    color: var(--color-text-header);
    text-decoration: none;
    font-size: var(--nav-title-font-size-1200px);
    font-weight: bold;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.8rem;
    flex: 1;
    text-align: right;
}

.header-nav ul {
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
    display: inline-block;
}

.header-nav li a {
    text-decoration: none;
    color: var(--color-text-header);
    font-size: var(--nav-link-font-size-1200px);
    font-weight: 300;
    padding: .9rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.header-title:hover {
    color: hsl(var(--color-base-hue), 50%, 30%);
}

.header-nav li a:hover {
    border: 3px groove #c4c4c4;
    border-radius: 45%;
    margin-left: -6px;
}

.header-menu-image {
    margin-top: auto;
    margin-bottom: auto;
    width: var(--nav-menu-image-width-def);
    height: var(--nav-menu-image-height-def);
    display: none;
    justify-content: flex-end;
    cursor: pointer;
}

/* DYNAMICS */

@media only screen and (max-width: 992px) {
    .header-title {
        font-size: var(--nav-title-font-size-992px);
    }
    .header-nav li a {
        font-size: var(--nav-link-font-size-992px);
    }
}
@media only screen and (max-width: 768px) {
    .header-title {
        font-size: var(--nav-title-font-size-768px);
    }
    .header-nav li a {
        font-size: var(--nav-link-font-size-768px);
    }
}
@media only screen and (max-width: 700px) {
    .header-nav ul {
        width: 50%;
        height: auto;
        background-color: hsla(0, 0%, 0%, 0.801);
        border-radius: var(--basic-border-radius);
        position: absolute;
        top: 4.1rem;
        right: 0;
        padding-right: 0;
        z-index: 2;
    }
    .header-nav li {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .header-nav li a {
        color: white;
    }
    .header-nav li a:hover {
        color: hsl(36, 100%, 48%);
        border: none;
        margin-left: 0;
    }
    .header-menu-image {  
        display: block;
    }
    #menu-list {
        max-height: 0px;
        overflow: hidden;
        transition: 0.8s;
    }
}
@media only screen and (max-width: 576px) {
    .header-title {
        font-size: var(--nav-title-font-size-576px);
    }
    .header-nav li a {
        font-size: var(--nav-link-font-size-576px);
    }
    .header-menu-image {
        width: var(--nav-menu-image-width-576px);
        height: var(--nav-menu-image-height-576px);
    }
}