.product-grid {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, var(--product-image-width-1200px));
}

.product-image {
    width: var(--product-image-width-1200px);
    height: calc(var(--product-image-width-1200px) / var(--product-image-aspect-ratio));
    border-radius: var(--basic-border-radius);
}

.product-details {
    display: flex;
}

.product-details-label {
    font-size: var(--basic-text-size-1200px);
    font-weight: normal;
    align-self: flex-start;
}

.product-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: .7rem;
    grid-template-columns: auto auto;
    margin-left: .7rem;
}

.product-details-item {
    font-size: var(--basic-text-size-1200px);
}

.product-wrap-description {
    font-size: var(--basic-text-size-1200px);
    max-width: var(--product-description-max-width-1200px);
}

/* MEDIA QUERIES */

/* Product Details Text Dynamics */
@media only screen and (max-width: 992px) {
    .product-details-label {
        font-size: var(--basic-text-size-992px);
    }
    .product-details-item {
        font-size: var(--basic-text-size-992px);
    }
    .product-wrap-description {
        font-size: var(--basic-text-size-992px);
        max-width: var(--product-description-max-width-992px);
    }
}
@media only screen and (max-width: 768px) {
    .product-details-label {
        font-size: var(--basic-text-size-768px);
    }
    .product-details-item {
        font-size: var(--basic-text-size-768px);
    }
    .product-wrap-description {
        font-size: var(--basic-text-size-768px);
        max-width: var(--product-description-max-width-768px);
    }
}
@media only screen and (max-width: 576px) {
    .product-details-label {
        font-size: var(--basic-text-size-576px);
    }
    .product-details-item {
        font-size: var(--basic-text-size-576px);
    }
    .product-wrap-description {
        font-size: var(--basic-text-size-576px);
        max-width: var(--product-description-max-width-576px);
    }
}

/* Product Image Dynamics */
@media only screen and (max-width: 992px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, var(--product-image-width-992px));
    }
    .product-image {
        width: var(--product-image-width-992px);
        height: calc(var(--product-image-width-992px) / var(--product-image-aspect-ratio));
    }
}
@media only screen and (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, var(--product-image-width-768px));
    }
    .product-image {
        width: var(--product-image-width-768px);
        height: calc(var(--product-image-width-768px) / var(--product-image-aspect-ratio));
    }
}
@media only screen and (max-width: 576px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, var(--product-image-width-576px));
    }
    .product-image {
        width: var(--product-image-width-576px);
        height: calc(var(--product-image-width-576px) / var(--product-image-aspect-ratio));
    }
}