.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    table-layout: fixed;
}

table {
    border-collapse: collapse;
}

.table-section {
    height: auto;
    overflow: auto;
}

thead th {
    position: sticky;
    top: 0;
    color: black;
    font-size: var(--basic-text-size-1200px);
    background-color: rgb(177, 177, 177);
}

thead th a {
    text-decoration: none;
    color: black;
    font-size: var(--basic-text-size-1200px);
}

thead th a:hover {
    text-decoration: underline;
    cursor: pointer;
}

thead th:first-child {
    border-top-left-radius: 5px;
}

thead th:last-child {
    border-top-right-radius: 5px;
}

th, td {
    background-color: var(--form-input-background-color);
    padding: .5rem 1.1rem;
    word-break: break-all;
    text-align: center;
    color: black;
    font-size: var(--basic-text-size-1200px);
}

tr:last-child td {
    border-bottom: 1px ridge;
    border-color: rgb(133, 133, 133);
}

td img {
    width: var(--table-product-image-width-1200px);
    height: calc(var(--table-product-image-width-1200px) / var(--table-product-image-aspect-ratio));
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black;
}

tr:hover td {
    cursor: pointer;
    background-color: rgb(215, 232, 253);
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.pagination div {
    padding: .35rem;
    border-bottom: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 161, 57);
    color: black;
    margin: 0.5rem;
    cursor: pointer;
    font-family: Impact;
    max-height: 1rem;
    height: auto;
    width: auto;
    font-size: var(--table-pagi-text-size-1200px);
}

.pag-counter {
    padding: .35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: var(--table-pagi-counter-size-1200px);
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* DYNAMICS */

@media only screen and (max-width: 992px) {
    thead th {
        font-size: var(--basic-text-size-992px);
    }
    th, td {
        font-size: var(--basic-text-size-992px);
    }
    td img {
        width: var(--table-product-image-width-992px);
        height: calc(var(--table-product-image-width-992px) / var(--table-product-image-aspect-ratio));
    }
    .pagination div {
        font-size: var(--table-pagi-text-size-992px);
    }
    .pag-counter {
        font-size: var(--table-pagi-counter-size-992px);
    }
    thead th a {
        font-size: var(--basic-text-size-992px);
    }
}
@media only screen and (max-width: 768px) {
    thead th {
        font-size: var(--basic-text-size-768px);
    }
    th, td {
        font-size: var(--basic-text-size-768px);
    }
    td img {
        width: var(--table-product-image-width-768px);
        height: calc(var(--table-product-image-width-768px) / var(--table-product-image-aspect-ratio));
    }
    .pagination div {
        font-size: var(--table-pagi-text-size-768px);
    }
    .pag-counter {
        font-size: var(--table-pagi-counter-size-768px);
    }
    thead th a {
        font-size: var(--basic-text-size-768px);
    }
}
@media only screen and (max-width: 576px) {
    thead th {
        font-size: var(--basic-text-size-576px);
    }
    th, td {
        font-size: var(--basic-text-size-576px);
    }
    td img {
        width: var(--table-product-image-width-576px);
        height: calc(var(--table-product-image-width-576px) / var(--table-product-image-aspect-ratio));
    }
    .pagination div {
        font-size: var(--table-pagi-text-size-576px);
    }
    .pag-counter {
        font-size: var(--table-pagi-counter-size-576px);
    }
    thead th a {
        font-size: var(--basic-text-size-576px);
    }
    .adjust {
        display: none;
    }
}
@media only screen and (max-width: 430px) {
    .adjustNum {
        display: none;
    }
}
@media only screen and (max-width: 300px) {
    .adjustTiny {
        display: none;
    }
}