:root {
    --color-base-hue: 2;

    --color-background-dark: hsl(0, 0%, 96%);
    --color-background-light: hsl(0, 0%, 99%);

    --color-text-header: hsl(var(--color-base-hue), 64%, 50%);

    --basic-border-radius: .15rem;

    --nav-title-font-size-1200px: 1.1rem;
    --nav-title-font-size-992px: 1.05rem;
    --nav-title-font-size-768px: 1rem;
    --nav-title-font-size-576px: .95rem;

    --nav-link-font-size-1200px: 1.15rem;
    --nav-link-font-size-992px: 1.1rem;
    --nav-link-font-size-768px: 1.05rem;
    --nav-link-font-size-576px: 1rem;

    --nav-menu-image-width-def: 2.1rem;
    --nav-menu-image-height-def: 1.9rem;
    --nav-menu-image-width-576px: 2rem;
    --nav-menu-image-height-576px: 1.8rem;

    --page-header-text-size-1200px: 1.15rem;
    --page-header-text-size-992px: 1.1rem;
    --page-header-text-size-768px: 1.05rem;
    --page-header-text-size-576px: 1rem;

    --basic-text-size-1200px: 1.02rem;
    --basic-text-size-992px: .97rem;
    --basic-text-size-768px: .92rem;
    --basic-text-size-576px: .87rem;

    --form-input-background-color: hsl(var(--color-base-hue), 64%, 98%);
    --form-input-border-color: hsl(57, 13%, 65%);
    --form-input-border-color-change: black;

    --form-input-row-width-1200px: 61%;
    --form-input-row-width-992px: 74%;
    --form-input-row-width-768px: 87%;
    --form-input-row-width-576px: 100%;
    
    --color-btn-primary-background: hsl(0, 0%, 100%);
    --color-btn-primary-background-dark: hsl(0, 0%, 90%);
    --color-btn-danger-background: hsl(var(--color-base-hue), 100%, 85%);
    --color-btn-danger-background-dark: hsl(var(--color-base-hue), 100%, 75%);

    --product-image-aspect-ratio: 1;
    --product-image-width-1200px: 170px;
    --product-image-width-992px: 155px;
    --product-image-width-768px: 140px;
    --product-image-width-576px: 125px;

    --product-description-max-width-1200px: 50%;
    --product-description-max-width-992px: 65%;
    --product-description-max-width-768px: 80%;
    --product-description-max-width-576px: 95%;

    --table-product-image-aspect-ratio: 1;
    --table-product-image-width-1200px: 110px;
    --table-product-image-width-992px: 90px;
    --table-product-image-width-768px: 70px;
    --table-product-image-width-576px: 50px;

    --table-pagi-text-size-1200px: .95rem;
    --table-pagi-text-size-992px: .9rem;
    --table-pagi-text-size-768px: .85rem;
    --table-pagi-text-size-576px: .8rem;

    --table-pagi-counter-size-1200px: .85rem;
    --table-pagi-counter-size-992px: .8rem;
    --table-pagi-counter-size-768px: .75rem;
    --table-pagi-counter-size-576px: .7rem;

    --footer-text-size-1200px: .85rem;
    --footer-text-size-992px: .80rem;
    --footer-text-size-768px: .75rem;
    --footer-text-size-576px: .70rem;

    --search-image-size-1200px: 1.3rem;
    --search-image-size-992px: 1.2rem;
    --search-image-size-768px: 1.1rem;
    --search-image-size-576px: 1rem;

    --modal-close-button-size-1200px: 30px;
    --modal-close-button-size-992px: 28px;
    --modal-close-button-size-768px: 26px;
    --modal-close-button-size-576px: 24px;

    --modal-content-width-1200px: 50%;
    --modal-content-width-992px: 60%;
    --modal-content-width-768px: 70%;
    --modal-content-width-576px: 80%;

    --modal-user-input-1200px: 50%;
    --modal-user-input-992px: 57%;
    --modal-user-input-768px: 64%;
    --modal-user-input-576px: 71%;
}