<h2 class="page-header page-header-centered">Търсене на продукти</h2>
<form action="/products" method="GET">
    <br>
    <%- include('../partials/searchForm.ejs') %>
</form>
<br>
<div>
    <% products.forEach(product => { %>
        <div><%= product.title %></div>
        <a href="/products/<%= product.id %>">
            <img height="150" width="150" style="border-radius: var(--basic-border-radius);" src="<%= product.productImagePath %>">
        </a>
    <% }) %>
</div>