<h2 class="page-header page-header-centered">Търсене на продукти</h2>
<form action="/products" method="GET">
    <br>
    <%- include('../partials/searchForm.ejs') %>
</form>
<br>
<div>
    <% if (products != null) { %>
    <% products.forEach(product => { %>
        <div><%= product.title %></div>
        <a href="/products/<%= product.id %>">
            <img class="product-image" src="<%= product.productImagePath %>" alt="Изображение">
        </a>
    <% }) %>
    <% } %>
</div>